body{
    margin: 0;
}
header{
    background-color: red;
    height: 9vh;
    width: auto;
}

main{
    background-color: wheat;
    height: 91vh;
    width: auto;
}

.empresas{
    height: 40vh;
    width: auto;
    background-color: aqua;
  
    
}
.tabs{
    height: 50vh;
    width: auto;
    background-color: black;
}

.contenedor{
    height: 40vh;
    width: auto;
}
.tabla{
    background-color: blue;
    width: auto;
    height: 100%;
}
.contenedor-tabla{
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}
.inactive{
    display: none;
}
footer{
    display: none;
}
