body{
    margin: 0;
}
header{
    height: 9vh;
    width: auto;
}

main{
    height: 91vh;
    width: auto;
}


.tabs{
    height: 50vh;
    width: auto;
}

.contenedor{
    height: 40vh;
    width: auto;
}
.tabla{
    width: auto;
    height: 100%;
}

.contenedor-tabla{
    display: grid;
    grid-template-columns: minmax(200px, 25%) 1fr;
    
}

.inactive{
    display: none;
}
.frm{
    display: flex;
}

footer{
    display: none;
}
