.inactive{
    display: none;
}

.opciones-tabla-empresa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
}

.opciones-tabla-empresa i{
    cursor: pointer;
}

#btn_ruc{

    background-color: #4D5F82;
    color: whitesmoke;
}